@page "/"

@using DnDCampaignTracker.Models 
@inject DnDCampaignTracker.Services.CampaignService CampaignsService

<PageTitle>Index</PageTitle>

<h1>DnD Campaign Tracker</h1>

@if (Campaigns is null)
{
   <h2>Opps</h2> 
}
else{
    <ul>
        @foreach(var campaign in Campaigns)
        {
            <li>@campaign.Title</li>
        }
    </ul>
}

@code {
    private CampaignModel[] Campaigns;

    protected override async Task OnInitializedAsync()
    {
        Campaigns = await CampaignsService.BuildCampaignModelAsync();
    }
}