@page "/Location"
@model DnDCampaignTracker.Pages.LocationsModel

@if (Model is not null)
{
    foreach (var location in Model.LocationsList) 
    {
        <h1>@location.Name</h1>
        <p>@location.Description</p>

        foreach(var shop in location.Shops)
        {
            <ul>
                <li>@shop.Name</li>
            </ul>
        }

    }
}
@{
}
