@page "/players"

@using DnDCampaignTracker.Models
@inject DnDCampaignTracker.Services.PlayerService PlayerService
@inject NavigationManager NavigationManager

<title>Index</title>

@if(PlayersList is null)
{
    <p>Loading.....</p>
}
else{
    <ul class="players-list">
        @foreach(var player in PlayersList)
        {
            <li class="list-unstyled">
                <div class="player-container">
                    <p class="player-portriat">@player.Name</p>
                </div>
            </li>
        }
    </ul>
}

@code {
    [Parameter] public string Title { get; set; }
    private List<PlayersModel>? PlayersList;

    protected override async Task OnInitializedAsync() 
    { 
        var uri = new Uri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        var title = query["title"];
        
        PlayersList = await PlayerService.AsyncBuildPlayersModel(title); 
    }
}